html, body {
	background-color: #3f3f3f;
	margin: 0;
	padding: 0;
}

#container {
	width: 640px;
	height: 360px;
	background-color: ;
	margin: 0 auto;
	margin-top: 100px;
	padding: 0;
}

#bg {
	width: 640px;
	height: 360px;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
}

#glass {
	width: 240px;
	height: 240px;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: none;
}